* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgb(38, 100, 158) 0%, rgba(237,245,249,1) 63%);  
  }
  header {
    padding: 40px;
    text-align: center;
  }
  

  .start-button{
      justify-content: center;
      align-items: center;
  }

  .large-font{
      text-align: center;
      font-size: 4.0em;
  }

  .Questions{
    background: radial-gradient(circle, rgb(131, 101, 179) 0%, rgba(53, 34, 9, 0.604) 100%);
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 20px;
    width: 30vw;
    height: 400px;
  }

  .examQuestion {
    text-align: center;
    font-size: 2.0em;
  }